@import "loader";

* {
  box-sizing: border-box;
}

.flexible {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  height: 100vh;
  background: #efeef3;

  > main {
    opacity: 0;
    display: flex !important;

    &.loaded {
      opacity: 1;
    }

    #result {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;
      text-decoration: none;
      color: #000;

      & > img {
        width: 200px;
      }

      #status {
        width: 150px;
        height: 112px;
        margin: 0 0 28px -14px;
        padding: 0 0 0 14px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        font-size: 14px;
        font-family: "Shadows Into Light", cursive;
      }

      &.aa,
      &.cr,
      &.mv {
        flex-direction: column;
      }

      &.aa #status {
        margin: 0 0 0 40px;
        padding: 0 0 20px;
      }

      &.cr #status {
        margin: 0 0 0 120px;
        padding: 0 0 25px;
      }

      &.mv #status {
        margin: 0 0 -10px;
        padding: 0 0 20px;
        align-self: center;
      }
    }

    #schedule,
    > footer {
      width: 360px;
    }

    #schedule {
      margin: 32px 0;
      padding: 24px 32px;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.8);
      border: 3px solid black;
      box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3),
        inset 0 0 3px rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "Open Sans", sans-serif;

      h2 {
        margin: 0;
      }

      dl {
        width: min-content;
        margin: 16px 0 0 0;
        display: grid;
        grid-template-columns: min-content auto;

        dt {
          font-weight: bold;

          &::after {
            content: ":";
          }
        }

        dd {
          margin: 0 0 0 8px;
          white-space: nowrap;
        }
      }
    }

    > footer {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        text-decoration: none;

        img {
          width: 52px;
          transition: all 0.25s ease;

          &:hover {
            opacity: 0.8;
            width: 60px;
          }
        }
      }
    }
  }

  #loader,
  > main {
    transition: opacity 0.5s ease;
  }

  #loader.loaded {
    opacity: 0;
  }
}
